.slider-card-container {
  height: calc(100% - 18px);
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0px 8px 5px;
  background-color: #ffffff;
  min-width: 623px;
  scroll-behavior: smooth;

  .dummy-card {
    margin: 0 5px;
    min-width: 130px;
    max-width: 130px;
    height: 100%;
    width: auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #cecece;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 250ms;

    &:hover {
      box-shadow: 1px 1px 5px 0 #a0a0a0;
    }
  }

  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 5px;

    &:hover {
      background: #a0a0a0;
    }
  }
}

.scroll-control {
  position: relative;
  height: 100%;
  display: flex;
  background-color: transparent;
  transition: ease-in-out 800ms;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &.control-left {
    float: left;
    margin-left: -0px;
    i {
      border-radius: 0 5px 5px 0;
    }
  }
  &.control-right {
    float: right;
    margin-right: px;
    i {
      border-radius: 5px 0 0 5px;
    }
  }
  i {
    margin: auto;
    color: #6e6e6e;
    font-size: 28px;
    padding: 25px 15px;
    background-color: #ffffff;
    z-index: 1500;
    transition: ease-in-out 200ms;
    box-shadow: 0px 0 10px 0 #8e8e8e;
    // opacity: 0.6;
    &:hover {
      opacity: 1;
      color: #4e4e4e;
    }
  }
}
